@font-face {
    font-family: 'redacted_scriptbold';
    src: url('chrome-extension://__MSG_@@extension_id__/font/redacted-script-bold.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/font/redacted-script-bold.eot?#iefix') format('embedded-opentype'),
        url('chrome-extension://__MSG_@@extension_id__/font/redacted-script-bold.woff2') format('woff2'),
        url('chrome-extension://__MSG_@@extension_id__/font/redacted-script-bold.woff') format('woff'),
        url('chrome-extension://__MSG_@@extension_id__/font/redacted-script-bold.ttf') format('truetype'),
        url('chrome-extension://__MSG_@@extension_id__/font/redacted-script-bold.svg#redacted_scriptbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.nH.ar4:not(.B) tr[jsaction]:not(:first-child) * {
    font-family: "redacted_scriptbold";
}
